* {
    background-color: bisque;
    height: auto;
    width: auto;
    margin: 1%;
    padding: 1%;
    font-family: sans-serif;
    text-align: center;  
   
}


header {
    font-size: xx-large;
  
background: rgb(242,130,91); 
background: -moz-linear-gradient(left,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(239,167,143,1) 100%); 
background: -webkit-linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(239,167,143,1) 100%);
background: linear-gradient(to right,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(239,167,143,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#efa78f',GradientType=1 ); 

    width: 600px;
    margin: auto;
    text-align: center;
    align-content: center;
    color: darkred;

}

section {
    display: flex;
    border: 3px solid;
    background-color: coral;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: initial;
}

.caja1 {
    border: 1px solid rgb(121, 1, 1);
background: #ff1a00;
background: -moz-linear-gradient(left,  #ff1a00 0%, #ff5b5b 100%, #ff4c4c 100%); 
background: -webkit-linear-gradient(left,  #ff1a00 0%,#ff5b5b 100%,#ff4c4c 100%); 
background: linear-gradient(to right,  #ff1a00 0%,#ff5b5b 100%,#ff4c4c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff4c4c',GradientType=1 );

    color: black;
    font-family: sans-serif;
    font-weight: bold;
    width: 400px;
    height: auto;
    line-height: 120px;
    align-content: center;
    order: 3;
}
.caja2 {
    border: 1px solid rgb(121, 1, 1);
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); 
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); 
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); 

    color: black;
    font-family: sans-serif;
    font-weight: bold;
    width: 400px;
    height: auto;
    line-height: 120px;
    align-content: center;
    order: 4;
}
.caja3 {
    border: 1px solid rgb(121, 1, 1);

background: #febbbb; 
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 );

    color: black;
    font-family: sans-serif;
    font-weight: bold;
    width: 400px;
    height: auto;
    line-height: 120px;
    align-content: center;
    order: 1;
}
.caja4 {
    border: 1px solid rgb(121, 1, 1);
    
background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); 
background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); 
background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); 

    color: black;
    font-family: sans-serif;
    font-weight: bold;
    width: 400px;
    height: auto;
    line-height: 120px;
    align-content: center;
    order: 2;
}

@media screen and (max-width: 600px){


    header {
        font-size: medium;
        background-color: rgb(245, 140, 101);
        width: 400px;
        margin: auto;
        text-align: center;
        align-content: center;
        color: darkred;
        
    }
    section {
        display: flex;
        border: 1px solid;
        background-color: coral;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: initial;
    }
}