* {
    margin: 0;
    padding: 0;
    
}

body {
    background: #f0c7c7;
    color: black;
    font-family: sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat (4,1fr);
    grid-template-rows: repeat (8, auto);

}
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .nav,
.contenedor .sidebar,
.contenedor .footer {
    background: aliceblue;
    padding: 20px;
    border-radius: 4px;
    background-color: bisque;
    
}
.contenedor .header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background: #febbbb; 
    background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); 
    background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); 
    background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); 
    font-family: sans-serif;
    font-size: x-large;
    font-style: initial;
    text-align: center;
 }
.contenedor .contenido {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    text-align: center;
    align-items: center;
    
 }
 .contenedor .nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
   
background: #febbbb; 
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); 
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); 
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); 

 }
 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 li {
     float: left;
 }
 a {
     color: black;
     text-decoration: none;
     display: block;
     padding: 12px 86px;
     font-size: 18px;
 }
 .barra {
     color: darkred;
     padding: 15px;
 }
.contenedor .sidebar {
    background: #f0c7c7;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(./imagenes/ropa2.jpg);
    flex-wrap: wrap;
    background-repeat: no-repeat;
    width: auto;
    padding: auto;
    height: 500px;
    
 }
 .contenedor .sidebar2 {
    background: #f0c7c7;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
 
 }
.contenedor .footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
    background-color: rgb(141, 137, 137);
}

.caja {
    transform: scale(1.04);
    display: flex;
    flex-wrap: wrap;
}
    


.contenedor .formulario {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    text-align: center;
}
.contenedor img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

@media all and (max-width: 600px){
    .contenedor {
        width: 90%;
        max-width: 600px;
        margin: 10px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat (4,1fr);
        grid-template-rows: repeat (8, auto);
    }
    .contenedor > div,
    .contenedor .header,
    .contenedor .contenido,
    .contenedor .nav,
    .contenedor .sidebar,
    .contenedor .footer {
        margin: 0%;

    
}
.contenedor .nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    
}
}